#!/usr/bin/make -f

export PYBUILD_NAME=pirogue_admin_web
%:
	dh $@ --with quilt,python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	mkdir debian/pirogue-admin-web/usr/sbin
	mv debian/pirogue-admin-web/usr/bin/pirogue-admin-web debian/pirogue-admin-web/usr/sbin

override_dh_installsystemd:
	dh_installsystemd pirogue-admin-web.service

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_clean:
	dh_clean
	rm -rf pirogue_admin_web.egg-info/
